<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>study</key>
	<string>ffffcc</string>
	<key>free time</key>
	<string>70b0c3</string>
	<key>important</key>
	<string>c11a0a</string>
	<key>work</key>
	<string>5aaf4a</string>
</dict>
</plist>
